@model IEnumerable<FlyClass.Models.MoneyMap>

@{
    ViewData["Title"] = "课时费规则管理";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">新增付款规则</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bonus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Level.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bonus)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">修改</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">更多</a> |
                    <a class="d-none" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
