@model FlyClass.Models.TeachEvent

@{
    ViewData["Title"] = "删除";
}

<h1>@ViewData["Title"]</h1>

<h3>确定要删除这一项吗?</h3>
<div>
    <h4>教学历史</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Times)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Times)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teacher.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Site)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Site.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassType.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="删除记录" class="btn btn-danger" /> |
        <a asp-action="Index">返回列表</a>
    </form>
</div>
